<form action= "/login" method= "POST">
   
    <% if @failed %>
        <p class="danger">Your username or password are incorrect.</p>
    <% end %>
    
    <label for="username">Username:</label>
    <input id="username" type= "text" name= "username">
    <br/>
    <label for="password">Password:</label>
    <input id="password" type="password" name="password">
    <br/>
    <input type="submit" value="Log In">
    </br>
    <h4>Need to <a href="/signup">Sign Up?</a></h4>

</form>