<form action= "/users" method= "POST">
    
    <label for="name">Name:</label>
    <input id="name" type= "text" name= "name">
    <br/>
    <label for="username">Username:</label>
    <input id="username" type= "text" name= "username">
    <br/>
    <label for="password">Password:</label>
    <input id="password" type="password" name="password">
    <br/>
    <label for="password_confirmation">Confirm Password:</label>
    <input id="password_confirmation" type="password" name="password_confirmation">
    <br/>
    <input type="submit" value="Sign Up">
    </br>
    <h4>Looking for <a href="/login">Log In?</a></h4>
    
   <% if @user && @user.errors.any? %>
        <% @user.errors.full_messages.each do |e| %>
            <p class="danger"><%= e %> </p>
        <% end %>
    <% end %>
</form>