html{
    background-color: #ffffffbd;
}

.danger{
    color: #ff0000;
}

.post{
    background-color: white;
    border: 2px solid #047c7c;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

/* form {
    background-color: white;
    border: 2px solid #047c7c;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    } */

.flare{
    color: hsl(271, 86%, 44%);
}


