<form action= "/posts" method= "POST">
    <div>
        <label for= "location">Where is your next trip?</label>
        <textarea type= "text" name= "location" id= "location" placeholder= "Location" required= "required">
    </div>
    <div>
        <label for= "days">How long is your trip (in days)?</label>
        <textarea type= "text" name= "days" id= "days" placeholder= "XX Days" required= "required">
    </div>
    <div>
        <label for= "budget">What is your daily budget?</label>
        <textarea type= "text" name= "budget" id= "budget" placeholder= "YYY/day">
    </div>
    <div>
        <label for= "transport">Have you booked transportation?</label>
        <input type= "checkbox" name= "transport" id= "transport" value= "has_transport">
    </div>
    <div>
        <label for= "accommodation">Have you booked accommodation?</label>
        <input type= "checkbox" name= "accommodation" id= "accommodation" value= "has_accommodation">
    </div>
    <div>
        <input type="submit" value="Submit Post">
    </div>
</form>