<% if !!@message %>
    <p class= "danger"><%= @message %></p>
<% end %>

<form action= "/posts" method= "POST">
   
   <div class = "post">
   <h3 class= "flare">Post New Trip:</h3>
        <label for= "location">Where is your next trip?</label>
        <input type= "text" name= "location" id= "location" placeholder= "Location" required= "required">
        </br>
        <label for= "days">How long is your trip (in days)?</label>
        <input type= "text" name= "days" id= "days" placeholder= "XX Days" required= "required">
        </br>
        <label for= "budget">What is your daily budget?</label>
        <input type= "text" name= "budget" id= "budget" placeholder= "Amount/day" required= "required">
        </br>
        <label for= "transport">Have you booked transportation?</label>
        <input type= "text" name= "transport" id= "transport" placeholder= "Yes/No" required= "required">
        </br>
        <label for= "accommodation">Have you booked accommodation?</label>
        <input type= "text" name= "accommodation" id= "accommodation" placeholder= "Yes/No" required= "required">
        </br>
        <input type="submit" value="Submit Post">
    </div>
</form>