<!DOCTYPE html>
<html lang= "en">
<head>
    <meta charset= "UTF-8">
    <meta name= "viewport" content= "width-device-width", initial-scale=1.0*>
    <meta http-equiv= "X-UA-Compatible" content= "ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type= "text/css" href="/css/style.css">
</head>
<body>
    <h1 class= "flare">Your Next Trip</h1>
    <% if logged_in? %>
        <form action="/logout" method= "POST" class="logout">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value='Log Out'>
        </form>
    </p>
<% end %>
    <%= yield %>
</body>
</html>